@import url('https://fonts.googleapis.com/css?family=Rubik|Alfa+Slab+One|Hind+Vadodara:300,400,500,600|Monoton|Playball');
@import '~semantic-ui-css/semantic.min.css';

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #f8f6f6 url(./img/emailbackground3.jpg) no-repeat center / cover; */
}


/* header section */

.header-section {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  color: black;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.logo-text {
  font-size: 30px;
  font-family: 'Playball', cursive;
}

/* end header section */

/* content section. */

/* input section */
.input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.fen-submit-button {
  padding: 0 10px;
}